<launch>
  <arg name="fox" default="false" doc="enable foxglove"/>
  <arg name="slam" default="false" doc="enable for slam run"/>
  <arg name="joy" default="false" doc="enable joystick"/>
  <arg name="nav" default="false" doc="setup for navigation"/>
  <arg name="camera" default="true" doc="enable camera"/>
  <arg name="fid" default="false" doc="enable fiducial aruco detect"/>
  
  <include file="$(find sodacan)/launch/include/mini.launch" />
  <include file="$(find sodacan)/launch/include/lidar.launch" />
  <include file="$(find sodacan)/launch/include/joystick.launch" if="$(arg joy)" />
  <include file="$(find sodacan)/launch/include/camera.launch" if="$(arg camera)" />
  <include file="$(find sodacan)/launch/include/aruco_detect.launch" if="$(arg fid)"/>
  <include file="$(find sodacan)/launch/include/foxglove.launch" if="$(arg fox)" />
  <include file="$(find sodacan)/launch/include/slam.launch"  if="$(arg slam)" />
  <include file="$(find sodacan)/launch/include/navigate.launch"  if="$(arg nav)" />
</launch>
